@model IEnumerable<PendingListItems.Models.SummaryModel>
@using PendingListItems.Helpers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of all items</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th></th><th></th>
        <th>
            @Html.DisplayNameFor(model => model.DefaultPeriod.PeriodName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SummaryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAmount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PendingAmount)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
       <th>
            Concepts
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.LastModificationDate)
    </th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="font-size:larger">
            @Html.ActionLink(" ", "Delete", new { id = item.SummaryId }, new { @class = "glyphicon glyphicon-trash fa-2x" })   
        </td>
        <td style="font-size:larger">
            @Html.ActionLink(" ", "Edit", new { id = item.SummaryId }, new { @class = "glyphicon glyphicon-edit" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DefaultPeriod.PeriodName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SummaryName)
        </td>
        <td>
            @Helpers.ToDecimalAmount(item.UpdatedAmount)
        </td>
        @*<td>
            @Helpers.ToDecimalAmount(item.PendingAmount)
        </td>*@
        <td>
            @Helpers.ToDecimalAmount(item.TotalAmount)
        </td>
        <td style="font-size:larger">
            @Html.ActionLink(" ", "Index", "Concept", new { summaryId = item.SummaryId }, new { @class = "glyphicon glyphicon-sort-by-attributes" })
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastModificationDate)
        </td>*@
    </tr>
}

</table>
