@model PendingListItems.Models.ConceptModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConceptModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Summary.SummaryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary.SummaryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConceptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountPayable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountPayable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModificationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModificationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ConceptId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
